<div class="container-fluid" id="about">
   <img src="{{infoImg}}" class="iabout"  ng-click="modal()">
   <div id="aboutModal" class="transparent">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h1 class="titleModal" >&Agrave; PROPOS</h1>      
                    <div class="row no-margin">
                       <div class="col-xs-8 col-xs-offset-2 contentBlock">
                               <h3 ng-bind-html="titleAbout | to_trusted"></h3>
                            <p ng-bind-html="textAbout | to_trusted"></p>
                            <a id="introBtnPlay" ng-click="modal()" >Fermer</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>