@import "compass/css3";
@import "compass/css3/filter";
@import "compass/css3/hyphenation";
@import "compass/support";
@import "compass/css3/transition";

@import "color";
@import "typography";
@import "breakpoint";

html, body{
    min-height: 100%;
	height: 100%;
}

body {
    color: white;    
    background-color: #161616
}

.content {    
    padding: 0 3vw;
    &.bottom{        
        background-size: cover;
        background-image: url(../images/white.svg);
        background-color: white;
    }

    @media #{$large-phone} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer-container {
    background-color: white;    
    color: #474747;
    width: 100%;
    bottom:0;
    @media #{$large-phone} {
        bottom: unset;
    }
}

.footer {
    flex-direction: row;
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    p {        
        font-size: 1em;
        margin-right: 5vw;
    }
    img {
        height: 3vh;
    }
    @media #{$large-phone} {
        p {
            font-size: 0.7em;
            margin-right: 1vw;
            text-align: left;
        }
        img {
            height: 2.5vh;
        }
    }
}

.app-title{
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 1vw;
    }
    @media #{$large-phone} {
        img {
            display:none;
        }
        h1 {            
            padding: 0 10vw;
        }
    }
}
  
.row.no-margin {
	margin-left: 0;
	margin-right: 0;
}

.cl-banner {
    background: rgba(80,80,80,0.9);
	
	.cl-accept {
		color: #333;
		background-color: #fff;
		
		&:hover {
			background: #eee;
		}
	}
}

span.ld_perso1 {
    color :#de8729;
}

span.ld_perso2 {
    color :#cf5dd0;
}
span.ld_perso3 {
    color : #6ca4ea;
}

button {
    cursor: pointer;
    color: $white;
    border-radius: 3em;
    background-color: $weird-green;
    border: solid $weird-green;
    font-size: 1em;
    font-weight: 800;
    width: 9.5em;
    height: 6vh;
    margin: 2vh 0;
    // @media #{$large-phone} {
    //     font-size: 5vw;
    //     width: 80vw;
    //     height: unset;
    // }
}
button:focus {
  outline:0;
}

.center {    
    text-align: center;
}

#eventDesc {
    color:#333;
    
    #cntDays {
        position: absolute;
        bottom: 10px;
    	right: 30px;

        
        p {
            color: white;
            font-size: 17px;
            font-weight: bold;
            
            #nbCtnDays {
                position: absolute;
            }
            #slashDays {
                position: absolute;
                top: 0%;
                left: 96%;
                font-size: 24px;
                font-weight: 100;
            }
            #denominator {
                position: absolute;
                top: 34%;
                left: 170%;
            }
        }
    }
    .contentBlock {
        text-align: left;
        position: relative;
        overflow: hidden;
        padding: 20px;
        font-size: 17px;
    }
    h1{
        font-size: 28px;
    }
    
    .titleBlock{
        text-align: center;        
    }
    
    #textEvent {
        color: #e4e4e4;
        font-size: 18px;
    }

    .mapBlock {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        position: absolute;
        top: 75%;
        left: 50%;
        @include translate(-50%,-50%);
    }

    .choiceLink {
        width: 100%;
        a {
            text-decoration: none;
            font-weight: 600;
            color: #333;
            padding: 12px;
            width: 100%;
            display: block;
            background-color: white;
            border: 0px;
            margin: 15px 0;
            border-radius: 10px;
            box-shadow: 1px 0px 10px #333;
            cursor: pointer;
            font-size: 17px;
        }
        
        a:active {
            @include scale(0.95);
        }
    }

    .reset{
        top:13px;
        position: absolute;
        left:13px;
        width: 50px;
        height: 50px;
        button {
            width: 65%;
            padding: 1px;
            border-radius: 7px;
            background: none;
            border: 0px;
            color: white;
            margin: 5px 0 0 5px;
            font-size: 28px;
            outline: none;
        }
    }
    
    #textEvent{
        padding-top: 11px
    }
    
    #titleEvent {
        padding-bottom: 0px;
    }
}

#toggle-anime {
    @include transition(opacity, 0.5s);
    padding: 10px 20px 35px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    position: relative;
    width:66%;
    margin : 23px auto 30px auto;
    text-align: center;
    border-radius: 7px;
    
    h1{
        margin-top: 0;
    }
}

.no-click{
    width: 100%;
    height: 250px;
    z-index: 1000;
    position: absolute;
}

.day {
    @include transition(opacity, 0.5s);
    position: absolute;
    top: 0px;
    left: 50%;
    @include translateX(-50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;    
    font-size: 38px;
    @media #{$large-phone} {
        font-size: unset;
    }
}

.transparent{
    opacity: 0;
}

#endGame {
    .contentBlockStart {
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    }
    
    
    
    #winScreen, #loseScreen {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 75%;
        @include translateX(-50%);
        background-color: rgba(255,255,255,0.8);
        color: #333;
        display: none;
        opacity: 0;
        @include transition(opacity, 0.5s);
        border-radius: 15px;
        padding: 18px 25px 18px 32px;
    }
    
    #continue {
       position: absolute;
        top: 60%;
        left: 50%;
        @include translateX(-50%);
        @include transition(opacity, 0.5s);
        display: none;
        opacity: 0;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
        width: 33%;
    }
    
    .titleWinLose {
        
        p {
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    
    .textWinLose {
        p {
            font-size: 17px;
        }
        @media #{$large-phone} {
            text-align: left;
        }
    }
    
    
    
    #progressBar{

        width: 175px;
        height: 175px;
        position: absolute;
        display: none;
        padding: 15px;
        top: 40%;
        left: 50%;
        opacity: 0;
        @include translate(-50%, -50%);
        @include transition(opacity, 0.5s);
    
        i, p {
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%,-50%);
            color:white;
            z-index : 100;
            @include transition(all, 0.3s);
        }

        p {
            font-size: 22px;
            top: 100%;
            width: 100%;
            padding: 5px;
            background-color: #4be79f;
            border-radius: 7px;
            margin-top: 7px;
            text-transform: uppercase;

        }
        
        #plusGauge{
        p {
          background: none;
          top: 44%;
          left: 57%;
          font-size: 40px;          
          opacity: 0;
          color : #990000;
        }
    }
    
    }
    
    #reset{
        @include transition(all, 0.5s);
        opacity: 0;
		
		#btnRestart {
			background-color: #6feaac;
		}
    }
    .contentBlock {
        text-align: left;
        position: relative;
        background-color: white;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
        color: #333;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 15px;
        padding: 18px 25px 18px 32px;
        @include transition(all, 0.5s);
        opacity: 0;
        display: none;
        @media #{$large-phone} {
            margin-left: 0;
            width: unset;
        }
    }
    
    p.title{
        z-index: 10;
        font-size: 20px;
        position: relative;
        font-weight: 600;
        @media #{$large-phone} {
            margin-top: 3vh;
        }
    }
    
    button, #adviceBtn {
        width: 100%;
        // padding: 5px;
        // border-radius: 7px;
        // background-color: white;
        // border: 0px;
        // color: #333;
    }
	#adviceBtn {
        display: inline-block;
		margin-top: 50px;
		text-decoration: none;
    }
    i{
        font-size: 25px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;
        @include translate(-50%, -50%);
    }
    
    .no-margin{
        margin: 0;
    }
    
    .titleBilan {
        text-align: center;
        text-transform: uppercase;
    }
    
    .faCircle {        
        background-color: $weird-green;
        border-radius: 50%;        
        border: 3px solid white;
        position: absolute;
        top: 2px;
        width: 60px;
        height: 60px;
        left: 45%;
        @include translateY(-50%);
        @media #{$large-phone} {
            left: 38%;
        }
    }
    #winCircle {
        top: -22px;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 75px;
        height: 75px;
        
        i {
            font-size: 35px;
        }
    }
    
    li {
        font-weight: 200;
    }
    
    ul {
        padding-left: 15px;
    }
    
    padding: 40px;
}
.background {
    z-index: 0 !important;
    @include transition(background, 0.5s);
    background-size: cover !important;
    text-align: center;
}


#contentContainer {
    z-index: 10;
	@include transition(opacity, 0.5s);
}

#no-landscape {
    i {
        font-size: 100px;
        color: white;
    }
    
    p {
       font-size: 25px;
       color: white; 
    }
    
    padding-top: 0;
}

#dayTransition{
    display: none;
    padding-top: 0;
    @include transition(opacity, 1s);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    background-color: #161616 ;
}


.currentDay{
    position: absolute;
    top: 45%;
    left: 50%;
    @include translate(-50%,-50%);
    color: white;
    @include transition(all, 1s);
    
    p{
      font-weight: bold;
        font-size: 35px;
    }
}


.nextDay{
    position: absolute;
    top: 55%;
    left: 50%;
    @include translate(-50%,-50%);
    color: white;
    @include transition(all, 1s);
    
    p{
      font-weight: bold;
        font-size: 35px;
    }
}
 

#loading, #error, #no-landscape, #startScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    display: none;
    z-index: 1000;
    text-align: center;
    padding-top: 70%;
    background-color: #161616 ;

}
#startScreen{
    padding-top: 0% !important;
}

#gauge {
    padding: 0;
}

#progressBar1, #progressBar2, #progressBar3 {
    margin: 0px 15px 10px 15px;
    width: 110px;
    height: 110px;
    position: relative;
    display: inline-block;
    padding: 15px;
    
    i, p {
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        color:white;
        z-index : 100;
        @include transition(all, 0.3s);
    }
    
    p {
        font-size: 15px;
        font-weight: 900;
        top: 100%;
        width: 100%;
        padding: 2px;
        // background-color: rgba(55, 55, 55, 0.35);
        border-radius: 7px;
        margin-top: 7px;
        text-transform: uppercase;        
    }
    
    #plusGauge1,  #plusGauge2, #plusGauge3{
        p {
          background: none;
          top: 41%;
          left: 60%;
          font-size: 30px;        
          opacity: 0;    
        }
    }
    
   path{
        fill: #004370;
        fill-opacity: 1;
    }
   path:first-child {
        fill-opacity : 0.8;
    }
    
    svg{
        @include transition(all, 0.3s);
    }
    
    .spark {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-size: cover;
        z-index: 50;
    }
    
}

.home-background {
    color: black;
}

.home-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;    
    margin-top: -15vh;
    @media #{$large-phone} {
        margin-top: 0;
    }
}

.white.wave {
    background-color: white;
    color: #474747;
}

.align-left {
    text-align: left;
}

.progressBarContainer {
    text-align: center;
    margin-top: 55px;
    position: relative;
}

#about, #intro {
    #aboutModal, #introModal {
        display: none;
        @include transition(opacity, 0.5s);
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // min-height: 100%;
        /*bottom: 0;*/
        z-index: 998;
        text-align: center;
        // background-color: #161616 ;
        background-size: cover !important;
    }
	
	#introModal {
		display: block;
    }
    
    .left-icon {
        @media #{$large-phone} {
            display: none;
        }
    }
    .right-icon {
        @media #{$large-phone} {
            img {
                width: 40vw;
            }
        }
    }

    .iabout {
        padding: 5px;
        color: white;
        width: 50px;
        position: absolute;
        top: 13px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }

    .contentBlock {
        margin-bottom: 3.5vh;
        padding: 18px 25px 25px 25px;
        font-size: 17px;
                
        @media #{$large-phone} {
            padding: 0px 25px;
        }
    }

    .titleModal{
        margin-top: 3vh;
        @media #{$large-phone} {
            margin-bottom: 0;
        }
    }
	
	.companyBlock {
		margin-top: 20px;
		border-top: 1px solid #333333;
		padding-top: 20px;
		
		font-size: 12px;
		color: #CCCCCC;
		
		img {
			display: block;
			margin: 5px auto;
			width: 100%;
			max-width: 180px;
		}
		
		a, a:focus, a:hover, a:visited {
			color: rgb(112, 206, 212);
		}
	}
}

.content-landscape {
    position: absolute;
    top : 50%;
    left: 50%;
    @include translate(-50%, -50%);
}


@media screen and (min-width: 1024px) {
    
    #appContainer {
        color:white;
        text-align: center;
        position: absolute;
        width: 1024px;
        min-height: 100%;
        top: 0;
        left: 50%;
        @include translate(-50%, 0);
    }
}



@media screen and (max-width: 1024px) and (min-width: 571px) {
     #appContainer {
        color:white;
        width: 100%;
        min-height: 100%;
    }
    
    #progressBar1, #progressBar2, #progressBar3, {
        margin: 30px 40px;
        width: 15% ;
        height: 100%;
        padding: 0 10px;
    
        p  {
            top:115%;
        }
    }
}

@media screen and (max-width: 570px) {
     
    #progressBar1, #progressBar2, #progressBar3 {
        
        margin: 30px 20px;
        width: 20% ;
        height: 100% ;
        padding: 0 10px;

        i {
            font-size:25px ; 
        }
        
        p  {
            top:115%;
        }
    }
    
    #toggle-anime {
        width: 85% ;
    }
    
     #appContainer {
        color:white;
        width: 100%;
        min-height: 100%;
    }
    
    #eventDesc {
        .mapBlock {
            display: none;
        }
    }
}


