@import "compass/css3";
@import "compass/css3/filter";
@import "compass/css3/hyphenation";
@import "compass/support";
@import "compass/css3/transition";


html, body{
    min-height: 100%;
	height: 100%;
}

body {
    color: white;
    background-color: #161616
}

.row.no-margin {
	margin-left: 0;
	margin-right: 0;
}

.cl-banner {
    background: rgba(80,80,80,0.9);
	
	.cl-accept {
		color: #333;
		background-color: #fff;
		
		&:hover {
			background: #eee;
		}
	}
}

span.ld_perso1 {
    color :#de8729;
}

span.ld_perso2 {
    color :#cf5dd0;
}
span.ld_perso3 {
    color : #6ca4ea;
}


#eventDesc {
    color:#333;
    
    #cntDays {
        position: absolute;
        bottom: 1.8%;
        right: 7.8%;

        
        p {
            color: white;
            font-size: 17px;
            font-weight: bold;
            
            #nbCtnDays {
                position: absolute;
            }
            #slashDays {
                position: absolute;
                top: 0%;
                left: 96%;
                font-size: 24px;
                font-weight: 100;
            }
            #denominator {
                position: absolute;
                top: 34%;
                left: 170%;
            }
        }
    }
    .contentBlock {
        text-align: left;
        position: relative;
        overflow: hidden;
        padding: 20px;
        font-family: 'myfont';
        font-size: 17px;
    }
    h1{
       font-family: 'myfont-semi';
        font-size: 28px;
    }
    
    .titleBlock{
        text-align: center;        
    }
    
    #textEvent {
        color: #e4e4e4;
        font-size: 18px;
    }

    .mapBlock {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        position: absolute;
        top: 75%;
        left: 50%;
        @include translate(-50%,-50%);
    }

    .choiceLink {
        width: 100%;
        a {
            text-decoration: none;
            font-weight: 600;
            font-family: 'myfont';
            color: #333;
            padding: 12px;
            width: 100%;
            display: block;
            background-color: white;
            border: 0px;
            margin: 15px 0;
            border-radius: 10px;
            box-shadow: 1px 0px 10px #333;
            cursor: pointer;
            font-size: 17px;
        }
        
        a:active {
            @include scale(0.95);
        }
    }

    .reset{
        top:13px;
        position: absolute;
        left:13px;
        width: 50px;
        height: 50px;
        button {
            width: 65%;
            padding: 1px;
            border-radius: 7px;
            background: none;
            border: 0px;
            color: white;
            margin: 5px 0 0 5px;
            font-size: 28px;
            outline: none;
        }
    }
    
    #textEvent{
        padding-top: 11px
    }
    
    #titleEvent {
        padding-bottom: 0px;
    }
}

#toggle-anime {
    @include transition(opacity, 0.5s);
    padding: 10px 20px 35px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    position: relative;
    width:66%;
    margin : 23px auto 30px auto;
    text-align: center;
    border-radius: 7px;
    
    h1{
        margin-top: 0;
    }
}

.no-click{
    width: 100%;
    height: 250px;
    z-index: 1000;
    position: absolute;
}

.day {
    @include transition(opacity, 0.5s);
    position: absolute;
    top: 12px;
    left: 50%;
    @include translateX(-50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.transparent{
    opacity: 0;
}

#endGame {
    
    
    font-family : 'myfont';
    .contentBlockStart {
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    }
    
    
    
    #winScreen, #loseScreen {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 75%;
        @include translateX(-50%);
        background-color: rgba(255,255,255,0.8);
        color: #333;
        display: none;
        opacity: 0;
        @include transition(opacity, 0.5s);
        border-radius: 15px;
        padding: 18px 25px 18px 32px;
    }
    
    #continue {
       position: absolute;
        top: 60%;
        left: 50%;
        @include translateX(-50%);
        @include transition(opacity, 0.5s);
        display: none;
        opacity: 0;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
        width: 33%;
    }
    
    .titleWinLose {
        
        p {
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    
    .textWinLose {
        p {
            font-size: 17px;
        }
    }
    
    
    
    #progressBar{

        width: 175px;
        height: 175px;
        position: absolute;
        display: none;
        padding: 15px;
        top: 40%;
        left: 50%;
        opacity: 0;
        @include translate(-50%, -50%);
        @include transition(opacity, 0.5s);
    
        i, p {
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%,-50%);
            color:white;
            z-index : 100;
            @include transition(all, 0.3s);
        }

        p {
            font-size: 22px;
            top: 100%;
            width: 100%;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 7px;
            margin-top: 7px;
            text-transform: uppercase;
            font-family:'myfont-semi';

        }
        
        #plusGauge{
        p {
          background: none;
          top: 44%;
          left: 57%;
          font-size: 40px;          
          opacity: 0;
          color : #990000;
        }
    }
    
    }
    
    #reset{
        @include transition(all, 0.5s);
        opacity: 0;
		
		#btnRestart {
			background-color: #6feaac;
		}
    }
    .contentBlock {
        text-align: left;
        position: relative;
        background-color: rgba(255,255,255,0.8);
        color: #333;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 15px;
        padding: 18px 25px 18px 32px;
        @include transition(all, 0.5s);
        opacity: 0;
        display: none;
    }
    
    p.title{
        z-index: 10;
        font-size: 20px;
        position: relative;
        font-weight: 200;
    }
    
    button, #adviceBtn {
        width: 100%;
        padding: 5px;
        border-radius: 7px;
        background-color: white;
        border: 0px;
        color: #333;
    }
	#adviceBtn {
        display: inline-block;
		margin-top: 50px;
		text-decoration: none;
    }
    i{
        font-size: 25px;
        color: #333;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;
        @include translate(-50%, -50%);
    }
    
    .no-margin{
        margin: 0;
    }
    
    .titleBilan {
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
    }
    
    .faCircle {        
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        width: 60px;
        height: 60px;
        left: -32px;
        @include translateY(-50%);
    }
    #winCircle {
        top: -22px;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 75px;
        height: 75px;
        
        i {
            font-size: 35px;
        }
    }
    
    li {
        font-weight: 200;
    }
    
    ul {
        padding-left: 15px;
    }
    
    padding: 40px;
}
.background {
    z-index: 0 !important;
    @include transition(background, 0.5s);
    background-size: cover !important;
    text-align: center;
}


#contentContainer {
    z-index: 10;
	@include transition(opacity, 0.5s);
}

#no-landscape {
    i {
        font-size: 100px;
        color: white;
    }
    
    p {
       font-size: 25px;
       color: white; 
    }
    
    padding-top: 0;
}

#dayTransition{
    display: none;
    padding-top: 0;
    @include transition(opacity, 1s);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    background-color: #161616 ;
}


.currentDay{
    position: absolute;
    top: 45%;
    left: 50%;
    @include translate(-50%,-50%);
    color: white;
    @include transition(all, 1s);
    
    p{
      font-weight: bold;
        font-size: 35px;
    }
}


.nextDay{
    position: absolute;
    top: 55%;
    left: 50%;
    @include translate(-50%,-50%);
    color: white;
    @include transition(all, 1s);
    
    p{
      font-weight: bold;
        font-size: 35px;
    }
}
 

#loading, #error, #no-landscape, #startScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    display: none;
    z-index: 1000;
    text-align: center;
    padding-top: 70%;
    background-color: #161616 ;

}
#startScreen{
    padding-top: 0% !important;
}

#gauge {
    padding: 0;
}

#progressBar1, #progressBar2, #progressBar3 {
    margin: 0px 15px 10px 15px;
    width: 110px;
    height: 110px;
    position: relative;
    display: inline-block;
    padding: 15px;
    
    i, p {
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        color:white;
        z-index : 100;
        @include transition(all, 0.3s);
    }
    
    p {
        font-size: 15px;
        top: 100%;
        width: 100%;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 7px;
        margin-top: 7px;
        text-transform: uppercase;
        font-family:'myfont-semi';
        
    }
    
    #plusGauge1,  #plusGauge2, #plusGauge3{
        p {
          background: none;
          top: 36.5%;
          left: 60%;
          font-size: 35px;          
          opacity: 0;    
        }
    }
    
   path:first-child {
        fill-opacity : 0.8;
    }
    
    svg{
        @include transition(all, 0.3s);
    }
    
    .spark {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-size: cover;
        z-index: 50;
    }
    
}




.progressBarContainer {
    text-align: center;
    margin-top: 55px;
    position: relative;
}

#about, #intro {
    #aboutModal, #introModal {
        display: none;
        @include transition(opacity, 0.5s);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
        /*bottom: 0;*/
        z-index: 998;
        text-align: center;
        background-color: #161616 ;
        background-size: cover !important;
    }
	
	#introModal {
		display: block;
	}

    .iabout {
        padding: 5px;
        color: white;
        width: 50px;
        position: absolute;
        top: 13px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }

    .contentBlock {
		margin-bottom: 30px;
        padding: 18px 25px 25px 25px;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 17px;
    }

    .titleModal{
        margin-top: 40px;
        margin-bottom: 30px;
    }
	
	#introBtnPlay {
        text-decoration: none;
		font-weight: 600;
		font-family: 'myfont';
		color: #333;
		padding: 10px 30px 12px 30px;
		width: auto;
		display: inline-block;
		background-color: white;
		border: 0px;
		margin: 15px 0;
		border-radius: 10px;
		box-shadow: 1px 0px 10px #333;
		cursor: pointer;
		font-size: 17px;
        
        &:active {
            @include scale(0.95);
        }
    }
}

.content-landscape {
    position: absolute;
    top : 50%;
    left: 50%;
    @include translate(-50%, -50%);
}


@media screen and (min-width: 1024px) {
    
    #appContainer {
        color:white;
        text-align: center;
        position: absolute;
        width: 1024px;
        min-height: 100%;
        top: 0;
        left: 50%;
        @include translate(-50%, 0);
    }
}



@media screen and (max-width: 1024px) and (min-width: 571px) {
     #appContainer {
        color:white;
        width: 100%;
        min-height: 100%;
    }
    
    #progressBar1, #progressBar2, #progressBar3, {
        margin: 30px 40px;
        width: 15% ;
        height: 100%;
        padding: 0 10px;
    
        p  {
            top:115%;
        }
    }
}

@media screen and (max-width: 570px) {
     
    #progressBar1, #progressBar2, #progressBar3 {
        
        margin: 30px 20px;
        width: 20% ;
        height: 100% ;
        padding: 0 10px;

        i {
            font-size:25px ; 
        }
        
        p  {
            top:115%;
        }
    }
    
    #toggle-anime {
        width: 85% ;
    }
    
     #appContainer {
        color:white;
        width: 100%;
        min-height: 100%;
    }
    
    #eventDesc {
        .mapBlock {
            display: none;
        }
    }
}


