<div class="container-fluid" id="eventDesc">
    <div id="startScreen"></div>
    <div id="dayTransition" class="" >

           <div class="currentDay">
                <p></p>
            </div>
            <div class="nextDay transparent">
                <p></p>
            </div>

    </div>
    <div id="toggle-anime" class="">
        <div id="cntDays" ng-if="eventDescCtrl.showTemporality == 1">
            <p><span id="nbCntDays">{{eventDescCtrl.cntDays}}</span> <span id="slashDays">/</span><span id="denominator">{{eventDescCtrl.nbEventPerDay}}</span></p>
        </div>
        <div id="titleEvent" class="titleBlock contentBlock">
            <h1  ng-bind-html="eventDescCtrl.eventData.title | to_trusted"></h1>
        </div>
        <div id="textEvent" class="contentBlock">
            <p  ng-bind-html="eventDescCtrl.eventData.textEvent | to_trusted"></p>
        </div>
        <div class="row">
           <div id ="noclick"></div>
            <div ng-repeat="choice in eventDescCtrl.eventChoices">
                <div class="col-xs-10 col-xs-offset-1 choiceBlock">
                   <div class="choiceLink">
                        <a ng-click="eventDescCtrl.buttonClick(choice.value, choice.id, choice.summaryWeight, choice.summaryGauge)" ng-bind-html="choice.text | to_trusted"></a>
                    </div>
                </div>
            </div> 
       </div>

    </div>
    <h3 class="day" ng-bind-html="eventDescCtrl.day | to_trusted" ng-if="eventDescCtrl.showTemporality == 1"></h3>
    <div class="choiceBlockB reset">
            <button type="submit" ng-click="eventDescCtrl.resetData()"><i class="glyphicon glyphicon-chevron-left"></i></button>
    </div>
    <div ng-if="showMap" class="contentBlock mapBlock">
        <p ng-bind-html = "eventDescCtrl.map"></p>
    </div>
</div>
